@import url(//db.onlinewebfonts.com/c/b30ffe63cc57ffdba315d296d0ca85b0?family=NTF-Grand-Regular);
.btn.btn-primary{
    height: 35px;
    width: 80px;
    font-size: 14px;
    align-items: center;
    background-color:#096eff;
    margin-left: 20px;
}

.btn.btn-outline-primary{
    height: 35px;
    width: 60px;
    font-size: 14px;
    align-items: center;
    margin-left: 10px;
}

.navbar.navbar-expand-lg.navbar-dark{
    padding: 0;
    height: 64px;
    background-color: #1f1f1f;
}

.container-fluid{
    display: flex;
    margin: 0 80px 0 80px;
    padding: 0;
}

.selection-nav{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-group.profile-nav a i:hover{
    cursor: pointer;
}

.dropdown-menu{
    min-width: 120px !important;
    position: absolute;
    right: 0;
    padding: 0;
    margin-top: 40px;
    font-size: small;
    background-color: white;
    border-radius: 4px !important;
}

.dropdown-menu a{
    color: black;
    padding-top: 10px;
}

.dropdown-item.logout-option p{
    margin: 0;
    padding-bottom: 4px;
}

.dropdown-item.profile-option p{
    margin: 0;
    padding-bottom: 8px;
}

.dropdown-item.profile-option{
    border-radius: 3px 3px 0 0;
    padding-bottom: 0px;
}

.dropdown-item.logout-option {
    border-radius: 0 0 3px 3px;
}

.dropdown-item p{
    text-indent: 10%;
}

.dropdown-item.profile-option p{
    border-bottom: 1px solid rgb(167, 167, 167);
}

.dropdown-item:hover{
    background-color: rgb(210, 210, 210);
    color: black;
}

.header-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.header-text h3{
    font-weight: bolder;
    font-size: x-large;
}

.home-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.form-group-row{
    width: 475px;
}

.input-group.mb-3{
    height: 45px;
}

.input-group.mb-3 span{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
    width: 80px;
}

.input-group.mb-3 input{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

input:focus::-moz-placeholder{
    color: transparent;
}

input:focus::placeholder{
    color: transparent;
}

::-moz-placeholder{
    padding-left: 100px;
    color: #303030;;
 }

::placeholder{
    padding-left: 100px;
    color: #303030;;
 }

.form-check:hover input{
    background-color: rgb(136, 136, 136);
}
.form-check input:checked{
    background-color: #636363;
}

.form-check{
    margin-top: 20px;
    font-size: small;
}

.btn-danger{
    margin-top: 15px;
    height: 33px;
    width: 475px;
    background-color: red;
    font-size: small;
}

.btn-danger:hover{
    background-color: rgb(174, 0, 0);
}

.under-btn-text{
    margin-top: 12.5px;
    display: flex;
    flex-direction: row;
    font-size: smaller;
    justify-content: center;
    align-items: center;
}

.under-btn-text a{
    text-decoration: none;
    color: rgb(174, 0, 0);
    font-weight: 550;
}

.under-btn-text a:hover{
    color: rgb(205, 0, 0);
}

.form-group-row.register{
    width: 550px;
}

.input-group.mb-3.register{
    height: 45px;
}

.input-group.mb-3.register span{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
    width: 125px;
}

.input-group.mb-3.register input{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.input-group.mb-3.register input::-moz-placeholder{
    padding-left: 72px;
}

.input-group.mb-3.register input::placeholder{
    padding-left: 72px;
}

.btn-danger.register{
    margin-top: 15px;
    height: 33px;
    width: 550px;
    background-color: red;
    font-size: small;
}

.btn-danger.register:hover{
    background-color: rgb(174, 0, 0);
}


.home-footer{
    margin-top: auto;
    background-color: #1f1f1f;
    width: 100%;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text1{
    display: flex;
    flex-direction: row;
    font-size: small;
    font-weight: 100;
    justify-content: center;
    align-items: center;
}

.footer-text1 p{
    margin: 0;
}

.social-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

.btn.text-white.btn-floating.m-1{
    border-radius: 50%;
    background-color: rgb(155, 155, 155);
}

.footer-text2{
    display: flex;
    flex-direction: row;
    font-size: small;
    font-weight: 100;
    justify-content: center;
    align-items: center;
}

.footer-text2 p{
    margin: 0;
}

.footer-text2 p a{
    text-decoration: none;
    color: white;
}

.footer-text2 p a:hover{
    color: rgb(179, 179, 179);
}

.copyright-text{
    margin-top: 12.5px;
    display: flex;
    flex-direction: row;
    font-size: small;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.copyright-text p{
    margin: 0;
}

.create-movie-content{
    margin: 60px 80px 60px 100px;
}

.header-text-create{
    display: flex;
    justify-content: left;
}

.header-text-create h3{
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "NTF-Grand-Regular", sans-serif;
}

.form-group.create-movie{
    margin: 8px 0 8px 0;
    width: inherit;
}

.form-group.create-movie label{
    font-size: small;
}

.form-group.create-movie input{
    height: 35px;
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.create-movie textarea{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.create-movie span{
    background-color: #1f1f1f;
    border-color: transparent;
    border-radius: 7.5px;
    width: 100% !important;
}

.select2-selection__choice{
    width: 80px;
    font-size: small;
}

.select2-selection__choice__display{
    margin-left: 20px;
    background-color: black !important;
    color: white;
}

.select2-selection__choice__remove span {
    background-color: black !important;
    color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: black;
}

.select2-selection__choice__remove:hover span{
    background-color: white !important;
    color: black;
}

.select2-container--open{
    color: black;
    font-size: small;
}

.actors-character{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 10px 0 10px;
    width: inherit;
}

.actor-column{
    width: 100%;
    padding-right: 10px;
}

.actor-column select{
    background-color:#1f1f1f;
    color: white;
    font-size: small;
    height: 35px;
}

.actor-column datalist option{
    background-color: white;
    color: black;
}

.character-column{
    font-size: small;
    width: 100%;
    padding-left: 10px;
}

.span-char{
    display: flex;
    justify-content: space-between;
}

.span-char a{
    align-self: center;
}

.span-char i{
    font-size: smaller;
}

.span-char i:hover{
    color: red;
}

#actor-select{
    max-height: 10px;
}

.add-more-button{
    display: flex;
    justify-content: end;
}

.btn.btn-info.add-more{
    font-size: small;
    background-color:#096eff;
    padding: 3px 6px 3px 6px;
    margin: 20px 10px 0 0;
}

.btn.btn-info.add-more:hover{
    background-color:#004cb5;
}

.actor-column input::-moz-placeholder{
    color: white;
    padding: 0;
}

.actor-column input::placeholder{
    color: white;
    padding: 0;
}

.actor-column input:focus::-moz-placeholder{
    color: transparent;
}

.actor-column input:focus::placeholder{
    color: transparent;
}

#formImageFile::file-selector-button{
    background-color: white;
    color: black;
}

#formImageFile:hover::file-selector-button{
    background-color: rgb(161, 161, 161);
}

#formBackgroundFile::file-selector-button{
    background-color: white;
    color: black;
}

#formBackgroundFile:hover::file-selector-button{
    background-color: rgb(161, 161, 161);
}

.form-group.create-movie label{
    width: 100%;
}

.btn.btn-danger.create-movie{
    width: 100%;
    background-color: #dc3445;
}

.btn.btn-danger.create-movie:hover{
    background-color: #b12b38;
}

.edit-movie-content{
    margin: 60px 80px 60px 100px;
}

.header-text-edit{
    display: flex;
    justify-content: left;
}

.header-text-edit h3{
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "NTF-Grand-Regular", sans-serif;
}

.form-group.edit-movie{
    margin: 8px 0 8px 0;
    width: inherit;
}

.form-group.edit-movie label{
    font-size: small;
}

.form-group.edit-movie input{
    height: 35px;
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.edit-movie textarea{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.edit-movie span{
    background-color: #1f1f1f;
    border-color: transparent;
    border-radius: 7.5px;
    width: 100% !important;
}

.form-group.edit-movie label{
    width: 100%;
}

.btn.btn-danger.edit-movie{
    width: 100%;
    background-color: #dc3445;
}

.btn.btn-danger.edit-movie:hover{
    background-color: #b12b38;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 80px 0 120px;
}

.my-profile{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.profile-display{
    display: flex;
    flex-direction: column;
}

#my{
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

#profile{
    color: red;
    font-size: xx-large;
    font-weight: bold;
}

.image{
    position: relative;
    width: 150px;
    height: 150px;
}

.image-img{
    display: block;
    width: 100%;
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image-overlay:hover{
    opacity: 1;
}

.image-overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image-overlay:hover > *{
    transform: translateY(0px);
}

.overlay-title{
    font-size: small;
    font-weight: bold;
}

.update-profile{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 550px;
}

#update-profile{
    color: red;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn.change-image{
    background-color: rgba(104, 104, 104, 0.375);
}

.btn.change-image:hover{
    background-color: rgba(104, 104, 104, 0.759);
}

.btn.btn-danger.save-changes{
    width: 550px;
}

.user-name{
    margin: 20px 0 10px 0;
    font-weight: bold;
    text-align: center;
    font-size: medium;
}

.user-email{
    font-weight: bold;
    text-align: center;
    font-size: medium;
    color: #747372;
}

.modal{
    margin-top: 150px;
}

.modal-content{
    border-radius: 5px;
    background-color:#1b1b1e;
    border-color: transparent
}

.modal-header{
    border-color: transparent;
}

.modal-footer{
    border-color: transparent;
    padding-top: 4px;
}

.form-control.modal-control{
    background-color: #131315;
    border: none;
    color: white;
}

.form-control.modal-control::-moz-placeholder{
margin: 0;
padding: 0;
color: #60676f;
font-size: medium;
}

.form-control.modal-control::placeholder{
margin: 0;
padding: 0;
color: #60676f;
font-size: medium;
}

.modal-body p{
    margin: 7px 0 0 0;
    font-size: medium;
    color: #60676f;
}

.btn.close{
    background-color: #6d757d;
}

.btn.save-changes{
    background-color: red;
}

.btn.close:hover{
    background-color: #555b61;
}

.btn.save-changes:hover{
    background-color: rgb(213, 2, 2);
}

.add-actor-content{
    margin: 60px 80px 60px 100px;
}

.header-text-add-actor{
    display: flex;
    justify-content: left;
}

.header-text-add-actor h3{
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "NTF-Grand-Regular", sans-serif;
}

.form-group.add-actor{
    margin: 8px 0 8px 0;
    width: inherit;
}

.form-group.add-actor label{
    font-size: small;
}

.form-group.add-actor input{
    height: 35px;
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.add-actor textarea{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.add-actor span{
    background-color: #1f1f1f;
    border-color: transparent;
    border-radius: 7.5px;
    width: 100% !important;
}

.form-group.add-actor label{
    width: 100%;
}

.btn.btn-danger.add-actor{
    width: 27%;
    background-color: #dc3445;
}

.btn.btn-danger.add-actor:hover{
    background-color: #b12b38;
}

.form-group.add-actor select{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.edit-actor-content{
    margin: 60px 80px 60px 100px;
}

.header-text-edit-actor{
    display: flex;
    justify-content: left;
}

.header-text-edit-actor h3{
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "NTF-Grand-Regular", sans-serif;
}

.form-group.edit-actor{
    margin: 8px 0 8px 0;
    width: inherit;
}

.form-group.edit-actor label{
    font-size: small;
}

.form-group.edit-actor input{
    height: 35px;
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.edit-actor textarea{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.edit-actor span{
    background-color: #1f1f1f;
    border-color: transparent;
    border-radius: 7.5px;
    width: 100% !important;
}

.form-group.edit-actor label{
    width: 100%;
}

.btn.btn-danger.edit-actor{
    width: 27%;
    background-color: #dc3445;
}

.btn.btn-danger.edit-actor:hover{
    background-color: #b12b38;
}

.form-group.edit-actor select{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.movie-detail{
    height: 600px;
}

.movie-detail-background{
    height: 100%;
    position:relative;
}

.background-image{
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.background-overlay-gradient{
    position: absolute;
    top: 0; left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,black, transparent);
}

.movie-detail-overlay{
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: grid;
    grid-template-columns: 280px 1fr;
    width: 100%;
    gap: 70px;
}

.poster-image{
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}

.movie-detail-explanation{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.movie-detail-title{
    font-size: larger;
    color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movie-detail-title a{
    color: white;
    font-size: x-large;
    padding: 0 4px 0 4px;
}

.movie-detail-title a:hover i{
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.movie-detail-genre{
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.movie-detail-genre-list{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: small;
    padding: 4px 20px 4px 20px;
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 0;
}

.movie-detail-release-date{
    display: flex;
    flex-direction: column;
    max-width: 53.7px;
    align-items: center;
}

.movie-detail-cast-and-more{
    margin: 40px 100px 0 100px;
}

.movie-detail-cast-and-more h4{
    padding-left: 10px;
    font-weight: 700;
    border-left: 5px solid #a42228;
}

.movie-detail-cast-list{
    margin: 30px 0 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
}

.movie-detail-img-and-info{
    max-width: 150px;
}

.movie-detail-cast-and-more img{
    width: 150px;
    height: 200px;
    border-radius: 5px 5px;
}

.movie-detail-name-and-cast{
    padding: 6px 0 6px 0;
    background-color: #910915;
    border-radius: 0 0 5px 5px;
}

.movie-detail-name-and-cast p{
    padding: 0px 10px 0 10px;
    margin: 0;
    color: white;
}

.movie-detail-more-list{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
}

.movie-detail-more{
    margin-bottom: 20px;
}

.movie-detail-more img{
    width: 150px;
    height: 200px;
    border-radius: 0;
    -o-object-fit: cover;
       object-fit: cover;
}

.movie-detail-title-and-year{
    padding: 6px 0 6px 0;
    max-width: 150px;
}

.movie-detail-title-and-year p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.movie-detail-year-and-icon{
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movie-detail-year-and-icon i:hover{
    color: white;
    cursor: pointer;
}

.fa-check{
    color: red;
}

.actors-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 85px 20px 85px;
    height: 45px;
}

.actors-header h3{
    color: #d23f48;
    font-weight: bold;
    margin: 0;
}

.d-flex{
    width: 300px;
}

.form-control.me-sm-2{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
    height: 35px;
    margin-right: 12px !important;
}

.form-control.me-sm-2::-moz-placeholder{
    padding-left: 0;
    color: #565656;
}

.form-control.me-sm-2::placeholder{
    padding-left: 0;
    color: #565656;
}

.form-control.me-sm-2:focus::-moz-placeholder{
    color: transparent;
}

.form-control.me-sm-2:focus::placeholder{
    color: transparent;
}

.btn.btn-secondary.my-2.my-sm-0{
    width: 120px;
    background-color: #dd3444;
    font-size: small;
    height: 35px;
}

.actors-list{
    margin: 0 85px 0 85px;
    display: grid;
    grid-auto-columns: 120px;
}

.actors-list-image-info{
    margin: 0 85px 0 85px;
    display: grid;
    grid-auto-columns: 120px;
}

#slider {
    position: relative;
    width: 100%;
    height:600px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 300%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}

#slider ul li {
    width: 33.32%;
    position: relative;
    height: 100%;
    float: left;
}

#slider ul li img{
    width: 100%;
    height: 600px;
}

#slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
}

#slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
}

#slider #prev {
    left: 10px;
}

#slider #next {
    right: 10px;
}

.home-background-overlay{
    padding-left: 250px;
    padding-right: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: flex;
    width: 100%;
}

.movie-detail-title.home-movie-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie-detail-title.home-movie-title h5{
    padding: 0 0 0 8px;
    border-left: 3px solid white;
}

.popular-title{
    margin: 20px 30px 20px 30px;
    font-weight: bolder;
    font-size: larger;
}

.cover {
    padding: 0px 30px;
    position: relative;
    margin: 0;
}

.cover button{
    padding: 1px 3px 1px 3px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-images {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: 20px;
}

.scroll-images::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgb(255, 255, 255);
}

.scroll-images::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}

.show-and-search-bar{
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2px solid rgba(128, 128, 128, 0.581);

}

.show-title{
    margin: 35px 0 10px 0;
    font-weight: bolder;
    font-size: larger;
}

body{
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(195, 195, 195);
  }

