@import url(//db.onlinewebfonts.com/c/b30ffe63cc57ffdba315d296d0ca85b0?family=NTF-Grand-Regular);
.btn.btn-primary{
    height: 35px;
    width: 80px;
    font-size: 14px;
    align-items: center;
    background-color:#096eff;
    margin-left: 20px;
}

.btn.btn-outline-primary{
    height: 35px;
    width: 60px;
    font-size: 14px;
    align-items: center;
    margin-left: 10px;
}

.navbar.navbar-expand-lg.navbar-dark{
    padding: 0;
    height: 64px;
    background-color: #1f1f1f;
}

.container-fluid{
    display: flex;
    margin: 0 80px 0 80px;
    padding: 0;
}

.selection-nav{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-group.profile-nav a i:hover{
    cursor: pointer;
}

.dropdown-menu{
    min-width: 120px !important;
    position: absolute;
    right: 0;
    padding: 0;
    margin-top: 40px;
    font-size: small;
    background-color: white;
    border-radius: 4px !important;
}

.dropdown-menu a{
    color: black;
    padding-top: 10px;
}

.dropdown-item.logout-option p{
    margin: 0;
    padding-bottom: 4px;
}

.dropdown-item.profile-option p{
    margin: 0;
    padding-bottom: 8px;
}

.dropdown-item.profile-option{
    border-radius: 3px 3px 0 0;
    padding-bottom: 0px;
}

.dropdown-item.logout-option {
    border-radius: 0 0 3px 3px;
}

.dropdown-item p{
    text-indent: 10%;
}

.dropdown-item.profile-option p{
    border-bottom: 1px solid rgb(167, 167, 167);
}

.dropdown-item:hover{
    background-color: rgb(210, 210, 210);
    color: black;
}

.header-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.header-text h3{
    font-weight: bolder;
    font-size: x-large;
}

.home-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.form-group-row{
    width: 475px;
}

.input-group.mb-3{
    height: 45px;
}

.input-group.mb-3 span{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
    width: 80px;
}

.input-group.mb-3 input{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

input:focus::-moz-placeholder{
    color: transparent;
}

input:focus::placeholder{
    color: transparent;
}

::-moz-placeholder{
    padding-left: 100px;
    color: #303030;;
 }

::placeholder{
    padding-left: 100px;
    color: #303030;;
 }

.form-check:hover input{
    background-color: rgb(136, 136, 136);
}
.form-check input:checked{
    background-color: #636363;
}

.form-check{
    margin-top: 20px;
    font-size: small;
}

.btn-danger{
    margin-top: 15px;
    height: 33px;
    width: 475px;
    background-color: red;
    font-size: small;
}

.btn-danger:hover{
    background-color: rgb(174, 0, 0);
}

.under-btn-text{
    margin-top: 12.5px;
    display: flex;
    flex-direction: row;
    font-size: smaller;
    justify-content: center;
    align-items: center;
}

.under-btn-text a{
    text-decoration: none;
    color: rgb(174, 0, 0);
    font-weight: 550;
}

.under-btn-text a:hover{
    color: rgb(205, 0, 0);
}

.form-group-row.register{
    width: 550px;
}

.input-group.mb-3.register{
    height: 45px;
}

.input-group.mb-3.register span{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
    width: 125px;
}

.input-group.mb-3.register input{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.input-group.mb-3.register input::-moz-placeholder{
    padding-left: 72px;
}

.input-group.mb-3.register input::placeholder{
    padding-left: 72px;
}

.btn-danger.register{
    margin-top: 15px;
    height: 33px;
    width: 550px;
    background-color: red;
    font-size: small;
}

.btn-danger.register:hover{
    background-color: rgb(174, 0, 0);
}


.home-footer{
    margin-top: auto;
    background-color: #1f1f1f;
    width: 100%;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text1{
    display: flex;
    flex-direction: row;
    font-size: small;
    font-weight: 100;
    justify-content: center;
    align-items: center;
}

.footer-text1 p{
    margin: 0;
}

.social-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

.btn.text-white.btn-floating.m-1{
    border-radius: 50%;
    background-color: rgb(155, 155, 155);
}

.footer-text2{
    display: flex;
    flex-direction: row;
    font-size: small;
    font-weight: 100;
    justify-content: center;
    align-items: center;
}

.footer-text2 p{
    margin: 0;
}

.footer-text2 p a{
    text-decoration: none;
    color: white;
}

.footer-text2 p a:hover{
    color: rgb(179, 179, 179);
}

.copyright-text{
    margin-top: 12.5px;
    display: flex;
    flex-direction: row;
    font-size: small;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.copyright-text p{
    margin: 0;
}

.create-movie-content{
    margin: 60px 80px 60px 100px;
}

.header-text-create{
    display: flex;
    justify-content: left;
}

.header-text-create h3{
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "NTF-Grand-Regular", sans-serif;
}

.form-group.create-movie{
    margin: 8px 0 8px 0;
    width: inherit;
}

.form-group.create-movie label{
    font-size: small;
}

.form-group.create-movie input{
    height: 35px;
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.create-movie textarea{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.create-movie span{
    background-color: #1f1f1f;
    border-color: transparent;
    border-radius: 7.5px;
    width: 100% !important;
}

.select2-selection__choice{
    width: 80px;
    font-size: small;
}

.select2-selection__choice__display{
    margin-left: 20px;
    background-color: black !important;
    color: white;
}

.select2-selection__choice__remove span {
    background-color: black !important;
    color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: black;
}

.select2-selection__choice__remove:hover span{
    background-color: white !important;
    color: black;
}

.select2-container--open{
    color: black;
    font-size: small;
}

.actors-character{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 10px 0 10px;
    width: inherit;
}

.actor-column{
    width: 100%;
    padding-right: 10px;
}

.actor-column select{
    background-color:#1f1f1f;
    color: white;
    font-size: small;
    height: 35px;
}

.actor-column datalist option{
    background-color: white;
    color: black;
}

.character-column{
    font-size: small;
    width: 100%;
    padding-left: 10px;
}

.span-char{
    display: flex;
    justify-content: space-between;
}

.span-char a{
    align-self: center;
}

.span-char i{
    font-size: smaller;
}

.span-char i:hover{
    color: red;
}

#actor-select{
    max-height: 10px;
}

.add-more-button{
    display: flex;
    justify-content: end;
}

.btn.btn-info.add-more{
    font-size: small;
    background-color:#096eff;
    padding: 3px 6px 3px 6px;
    margin: 20px 10px 0 0;
}

.btn.btn-info.add-more:hover{
    background-color:#004cb5;
}

.actor-column input::-moz-placeholder{
    color: white;
    padding: 0;
}

.actor-column input::placeholder{
    color: white;
    padding: 0;
}

.actor-column input:focus::-moz-placeholder{
    color: transparent;
}

.actor-column input:focus::placeholder{
    color: transparent;
}

#formImageFile::file-selector-button{
    background-color: white;
    color: black;
}

#formImageFile:hover::file-selector-button{
    background-color: rgb(161, 161, 161);
}

#formBackgroundFile::file-selector-button{
    background-color: white;
    color: black;
}

#formBackgroundFile:hover::file-selector-button{
    background-color: rgb(161, 161, 161);
}

.form-group.create-movie label{
    width: 100%;
}

.btn.btn-danger.create-movie{
    width: 100%;
    background-color: #dc3445;
}

.btn.btn-danger.create-movie:hover{
    background-color: #b12b38;
}

.edit-movie-content{
    margin: 60px 80px 60px 100px;
}

.header-text-edit{
    display: flex;
    justify-content: left;
}

.header-text-edit h3{
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "NTF-Grand-Regular", sans-serif;
}

.form-group.edit-movie{
    margin: 8px 0 8px 0;
    width: inherit;
}

.form-group.edit-movie label{
    font-size: small;
}

.form-group.edit-movie input{
    height: 35px;
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.edit-movie textarea{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.edit-movie span{
    background-color: #1f1f1f;
    border-color: transparent;
    border-radius: 7.5px;
    width: 100% !important;
}

.form-group.edit-movie label{
    width: 100%;
}

.btn.btn-danger.edit-movie{
    width: 100%;
    background-color: #dc3445;
}

.btn.btn-danger.edit-movie:hover{
    background-color: #b12b38;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 80px 0 120px;
}

.my-profile{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.profile-display{
    display: flex;
    flex-direction: column;
}

#my{
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

#profile{
    color: red;
    font-size: xx-large;
    font-weight: bold;
}

.image{
    position: relative;
    width: 150px;
    height: 150px;
}

.image-img{
    display: block;
    width: 100%;
}

.image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image-overlay:hover{
    opacity: 1;
}

.image-overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image-overlay:hover > *{
    transform: translateY(0px);
}

.overlay-title{
    font-size: small;
    font-weight: bold;
}

.update-profile{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 550px;
}

#update-profile{
    color: red;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn.change-image{
    background-color: rgba(104, 104, 104, 0.375);
}

.btn.change-image:hover{
    background-color: rgba(104, 104, 104, 0.759);
}

.btn.btn-danger.save-changes{
    width: 550px;
}

.user-name{
    margin: 20px 0 10px 0;
    font-weight: bold;
    text-align: center;
    font-size: medium;
}

.user-email{
    font-weight: bold;
    text-align: center;
    font-size: medium;
    color: #747372;
}

.modal{
    margin-top: 150px;
}

.modal-content{
    border-radius: 5px;
    background-color:#1b1b1e;
    border-color: transparent
}

.modal-header{
    border-color: transparent;
}

.modal-footer{
    border-color: transparent;
    padding-top: 4px;
}

.form-control.modal-control{
    background-color: #131315;
    border: none;
    color: white;
}

.form-control.modal-control::-moz-placeholder{
margin: 0;
padding: 0;
color: #60676f;
font-size: medium;
}

.form-control.modal-control::placeholder{
margin: 0;
padding: 0;
color: #60676f;
font-size: medium;
}

.modal-body p{
    margin: 7px 0 0 0;
    font-size: medium;
    color: #60676f;
}

.btn.close{
    background-color: #6d757d;
}

.btn.save-changes{
    background-color: red;
}

.btn.close:hover{
    background-color: #555b61;
}

.btn.save-changes:hover{
    background-color: rgb(213, 2, 2);
}

.add-actor-content{
    margin: 60px 80px 60px 100px;
}

.header-text-add-actor{
    display: flex;
    justify-content: left;
}

.header-text-add-actor h3{
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "NTF-Grand-Regular", sans-serif;
}

.form-group.add-actor{
    margin: 8px 0 8px 0;
    width: inherit;
}

.form-group.add-actor label{
    font-size: small;
}

.form-group.add-actor input{
    height: 35px;
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.add-actor textarea{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.add-actor span{
    background-color: #1f1f1f;
    border-color: transparent;
    border-radius: 7.5px;
    width: 100% !important;
}

.form-group.add-actor label{
    width: 100%;
}

.btn.btn-danger.add-actor{
    width: 27%;
    background-color: #dc3445;
}

.btn.btn-danger.add-actor:hover{
    background-color: #b12b38;
}

.form-group.add-actor select{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.edit-actor-content{
    margin: 60px 80px 60px 100px;
}

.header-text-edit-actor{
    display: flex;
    justify-content: left;
}

.header-text-edit-actor h3{
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "NTF-Grand-Regular", sans-serif;
}

.form-group.edit-actor{
    margin: 8px 0 8px 0;
    width: inherit;
}

.form-group.edit-actor label{
    font-size: small;
}

.form-group.edit-actor input{
    height: 35px;
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.edit-actor textarea{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.form-group.edit-actor span{
    background-color: #1f1f1f;
    border-color: transparent;
    border-radius: 7.5px;
    width: 100% !important;
}

.form-group.edit-actor label{
    width: 100%;
}

.btn.btn-danger.edit-actor{
    width: 27%;
    background-color: #dc3445;
}

.btn.btn-danger.edit-actor:hover{
    background-color: #b12b38;
}

.form-group.edit-actor select{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

body{
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

