@import "nav.css";
@import "login&register.css";
@import "footer.css";
@import url(//db.onlinewebfonts.com/c/b30ffe63cc57ffdba315d296d0ca85b0?family=NTF-Grand-Regular);
@import "create-movie.css";
@import "profile.css";
@import "modal.css";

body{
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
