@import "nav.css";
@import "login&register.css";
@import "footer.css";
@import url(//db.onlinewebfonts.com/c/b30ffe63cc57ffdba315d296d0ca85b0?family=NTF-Grand-Regular);
@import "edit-create-movie.css";
@import "profile.css";
@import "modal.css";
@import "edit-create-actor.css";
@import "movie-detail.css";
@import "actors-list.css";
@import "home.css";
@import "actor-detail.css";
@import "watchlist.css";

body{
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(195, 195, 195);
  }
