#slider {
    position: relative;
    width: 100%;
    height:600px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 300%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}

#slider ul li {
    width: 33.32%;
    position: relative;
    height: 100%;
    float: left;
}

#slider ul li img{
    width: 100%;
    height: 600px;
}

#slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
}

#slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
}

#slider #prev {
    left: 10px;
}

#slider #next {
    right: 10px;
}

.add-to-watchlists-btn{
    padding: 4px 10px 3px 10px;
    font-size: small;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 7px;
    background-color:#dc3444;
    width: 200px;
    height: 30px;
    text-align: center;
    color: white;
    align-items: center;
}

.add-to-watchlists-btn:hover{
    color:white;
    background-color: #b32b39;
}


.home-background-overlay{
    padding-left: 250px;
    padding-right: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: flex;
    width: 100%;
}

.movie-detail-title.home-movie-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie-detail-title.home-movie-title h5{
    padding: 0 0 0 8px;
    border-left: 3px solid white;
}

.popular-title{
    margin: 20px 30px 20px 30px;
    font-weight: bolder;
    font-size: larger;
}

.cover {
    padding: 0px 30px;
    position: relative;
    margin: 0;
}

.cover button{
    padding: 1px 3px 1px 3px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


.movie-detail-more.home-popular-list img{
    width: 187.5px;
    height: 250px;
}

.left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-images {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: 20px;
}

.scroll-images::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgb(42, 42, 42);
}

.scroll-images::-webkit-scrollbar-thumb {
    background-color:rgb(42, 42, 42);
    border-radius: 6px;
}

.show-and-search-bar{
    margin: 0 30px 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2px solid rgba(128, 128, 128, 0.581);

}

.show-title{
    margin: 35px 0 10px 0;
    font-weight: bolder;
    font-size: larger;
}

.home-genre-selection{
    margin-top: 30px;
}

.scroll-genres {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: 40px;
}

.scroll-genres::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color:rgb(42, 42, 42);
}

.scroll-genres::-webkit-scrollbar-thumb {
    background-color:rgb(42, 42, 42);
    border-radius: 6px;
}

.scroll-genres a{
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #1f1f1f;
    text-decoration: none;
}

.scroll-genres p{
    padding: 6px 60px 6px 60px;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: small;
}

.scroll-genres a:hover{
    background-color: rgb(80, 80, 80);
}

.home-movie-sorter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 60px 0px 10px;
}

.home-movie-sort-by{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: small;
}

.home-movie-sort-by a{
    padding: 6px 30px 6px 30px;
    border-radius: 20px;
    background-color: #1f1f1f;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.home-movie-sort-by a:hover{
    background-color: rgb(80, 80, 80);
}

.add-more-movie-admin a{
    padding: 7px 10px 7px 10px;
    font-size: small;
    font-weight: normal;
    text-decoration: none;
    border-radius: 4px;
    background-color:#dc3444;
    color: white;
}

.add-more-movie-admin a:hover{
    background-color:#c62f3e;
}

.home-movie-list{
    margin: 50px 35px 20px 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 32px;
}

.home-movie-detail-title-and-year{
    text-align: start;
}

.home-movie-detail-year-and-icon{
    padding: 0;
}

.home-movie-list img{
    border-radius: 7px;
}
