.header-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.header-text h3{
    font-weight: bolder;
    font-size: x-large;
}

.home-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.form-group-row{
    width: 475px;
}

.input-group.mb-3{
    height: 45px;
}

.input-group.mb-3 span{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
    width: 80px;
}

.input-group.mb-3 input{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

input:focus::placeholder{
    color: transparent;
}

::-webkit-input-placeholder{
    padding-left: 100px;
    color: #303030;;
}

::placeholder{
    padding-left: 100px;
    color: #303030;;
 }

.form-check:hover input{
    background-color: rgb(136, 136, 136);
}
.form-check input:checked{
    background-color: #636363;
}

.form-check{
    margin-top: 20px;
    font-size: small;
}

.btn-danger{
    margin-top: 15px;
    height: 33px;
    width: 475px;
    background-color: red;
    font-size: small;
}

.btn-danger:hover{
    background-color: rgb(174, 0, 0);
}

.under-btn-text{
    margin-top: 12.5px;
    display: flex;
    flex-direction: row;
    font-size: smaller;
    justify-content: center;
    align-items: center;
}

.under-btn-text a{
    text-decoration: none;
    color: rgb(174, 0, 0);
    font-weight: 550;
}

.under-btn-text a:hover{
    color: rgb(205, 0, 0);
}

.form-group-row.register{
    width: 550px;
}

.input-group.mb-3.register{
    height: 45px;
}

.input-group.mb-3.register span{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
    width: 125px;
}

.input-group.mb-3.register input{
    background-color: #1f1f1f;
    color: white;
    font-size: small;
}

.input-group.mb-3.register input::placeholder{
    padding-left: 72px;
}

.btn-danger.register{
    margin-top: 15px;
    height: 33px;
    width: 550px;
    background-color: red;
    font-size: small;
}
