.modal{
    margin-top: 150px;
}

.modal-content{
    border-radius: 5px;
    background-color:#1b1b1e;
    border-color: transparent
}

.modal-header{
    border-color: transparent;
}

.modal-footer{
    border-color: transparent;
    padding-top: 4px;
}

.form-control.modal-control{
    background-color: #131315;
    border: none;
    color: white;
}

.form-control.modal-control::placeholder{
    margin: 0;
    padding: 0;
    color: #60676f;
    font-size: medium;
}

.modal-body p{
    margin: 7px 0 0 0;
    font-size: medium;
    color: #60676f;
}

.btn.close{
    background-color: #6d757d;
}

.btn.save-changes{
    background-color: red;
}

.btn.close:hover{
    background-color: #555b61;
}

.btn.save-changes:hover{
    background-color: rgb(213, 2, 2);
}

.form-select.watchlist-status-select{
    background-color: black;
    color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='white' stroke='%23303030' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.form-select.watchlist-status-select option{
    background-color: white;
    color: black;
}
