.movie-detail{
    height: 600px;
}

.movie-detail-background{
    height: 100%;
    position:relative;
}

.background-image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-overlay-gradient{
    position: absolute;
    top: 0; left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,black, transparent);
}

.movie-detail-overlay{
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: grid;
    grid-template-columns: 280px 1fr;
    width: 100%;
    gap: 70px;
}

.poster-image{
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}

.movie-detail-explanation{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.movie-detail-title{
    font-size: larger;
    color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movie-detail-title a{
    color: white;
    font-size: x-large;
    padding: 0 4px 0 4px;
}

.movie-detail-title a:hover i{
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.movie-detail-genre{
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.movie-detail-genre-list{
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: small;
    padding: 4px 20px 4px 20px;
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 0;
}

.movie-detail-release-date{
    display: flex;
    flex-direction: column;
    max-width: 53.7px;
    align-items: center;
}

.movie-detail-cast-and-more{
    margin: 40px 100px 0 100px;
}

.movie-detail-cast-and-more h4{
    padding-left: 10px;
    font-weight: 700;
    border-left: 5px solid #a42228;
}

.movie-detail-cast-list{
    margin: 30px 0 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
}

.movie-detail-img-and-info{
    max-width: 150px;
}

.movie-detail-cast-and-more img{
    width: 150px;
    height: 200px;
    border-radius: 5px 5px;
}

.movie-detail-name-and-cast{
    padding: 6px 0 6px 0;
    background-color: #910915;
    border-radius: 0 0 5px 5px;
}

.movie-detail-name-and-cast p{
    padding: 0px 10px 0 10px;
    margin: 0;
    color: white;
}

.movie-detail-more-list{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
}

.movie-detail-more{
    margin-bottom: 20px;
}

.movie-detail-more img{
    width: 150px;
    height: 200px;
    border-radius: 0;
    object-fit: cover;
}

.movie-detail-title-and-year{
    padding: 6px 0 6px 0;
    max-width: 150px;
}

.movie-detail-title-and-year p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.movie-detail-year-and-icon{
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movie-detail-year-and-icon i:hover{
    color: white;
    cursor: pointer;
}

.fa-check{
    color: red;
}
